# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty
relative_permalinks: true

# Setup
title:            'Competitive Cyber Clubs'
tagline:          'Under construction'
description:      'Under construction'
url:              http://competitivecyberclubs.org
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/competitive-cyber-clubs
