/* Share buttons */
.sharebuttons {
    margin: 0 auto 0 auto;
  }
  
  .sharebuttons ul {
    margin: 20px 0 0 0;
    text-align: center;
  }
  
  .sharebuttons ul li {
    display: inline;
  }
  
  .sharebuttons ul li a {
    text-decoration: none;
  }
  
  .sharebuttons ul li svg {
    width: 40px;
    height: 40px;
  }
  
  .sharebuttons .reddit svg {
    fill: #FF4500;
  }
  
  .sharebuttons .hn svg {
    fill: #F0652F;
  }
  
  .sharebuttons .twitter svg {
    fill: #1DA1F2;
  }
  
  .sharebuttons .linkedin svg {
    fill: #0077B5;
  }